<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>白青苍穹八卦牌</string>
		<key>imgName</key>
		<string>bqcq</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>白青大地八卦牌</string>
		<key>imgName</key>
		<string>bqdd</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>天龙八卦牌</string>
		<key>imgName</key>
		<string>tianlong</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>红莲八卦牌</string>
		<key>imgName</key>
		<string>hl</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>武神八卦牌</string>
		<key>imgName</key>
		<string>ws</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>彩虹八卦牌</string>
		<key>imgName</key>
		<string>ch</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>铁傀王八卦牌</string>
		<key>imgName</key>
		<string>tkw</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>马贼八卦牌</string>
		<key>imgName</key>
		<string>mz</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>血浪鲨湾八卦牌</string>
		<key>imgName</key>
		<string>xlsw</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>海蛇八卦牌</string>
		<key>imgName</key>
		<string>hs</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>盖世神功八卦牌</string>
		<key>imgName</key>
		<string>gssg</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>迷宫八卦牌</string>
		<key>imgName</key>
		<string>mg</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>水月平原比武八卦牌</string>
		<key>imgName</key>
		<string>sypybw</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>万魂八卦牌</string>
		<key>imgName</key>
		<string>wh</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>雪人八卦牌</string>
		<key>imgName</key>
		<string>xueren</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>蛇蝎帝王八卦牌</string>
		<key>imgName</key>
		<string>shexie</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>修罗八卦牌</string>
		<key>imgName</key>
		<string>xiuluo</string>
		<key>nameColor</key>
		<string>zhizun</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>暗黑龙八卦牌</string>
		<key>imgName</key>
		<string>ahl</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>巴勒八卦牌</string>
		<key>imgName</key>
		<string>bl</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>冰魄八卦牌</string>
		<key>imgName</key>
		<string>bp</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>赤尾八卦牌</string>
		<key>imgName</key>
		<string>cw</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>大漠豪杰八卦牌</string>
		<key>imgName</key>
		<string>dmhj</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>大漠侠士八卦牌</string>
		<key>imgName</key>
		<string>dmxs</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>大王八卦牌</string>
		<key>imgName</key>
		<string>dw</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>帝国军八卦牌</string>
		<key>imgName</key>
		<string>dgj</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>斗神八卦牌</string>
		<key>imgName</key>
		<string>ds</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>斗战八卦牌</string>
		<key>imgName</key>
		<string>dz</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>斗战圣八卦牌</string>
		<key>imgName</key>
		<string>dzs</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>毒蛇八卦牌</string>
		<key>imgName</key>
		<string>dus</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>鬼杀门八卦牌</string>
		<key>imgName</key>
		<string>gsm</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>黑飞鸟八卦牌</string>
		<key>imgName</key>
		<string>hfn</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>幻术八卦牌</string>
		<key>imgName</key>
		<string>hus</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>黄沙领主八卦牌</string>
		<key>imgName</key>
		<string>hslz</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>金刚八卦牌</string>
		<key>imgName</key>
		<string>jg</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>巨岩八卦牌</string>
		<key>imgName</key>
		<string>jy</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>了无情八卦牌</string>
		<key>imgName</key>
		<string>lwq</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>雷狱八卦牌</string>
		<key>imgName</key>
		<string>ly</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>灵兽八卦牌</string>
		<key>imgName</key>
		<string>ls</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>女王八卦牌</string>
		<key>imgName</key>
		<string>nw</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>千魂八卦牌</string>
		<key>imgName</key>
		<string>qh</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>擎天盟八卦牌</string>
		<key>imgName</key>
		<string>qtm</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>日月八卦牌</string>
		<key>imgName</key>
		<string>ry</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>失落的永灵族八卦牌</string>
		<key>imgName</key>
		<string>sldylz</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>水月平原豪杰八卦牌</string>
		<key>imgName</key>
		<string>sypyhj</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>天照八卦牌</string>
		<key>imgName</key>
		<string>tz</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>无影八卦牌</string>
		<key>imgName</key>
		<string>wy</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>悟空八卦牌</string>
		<key>imgName</key>
		<string>wk</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>血猪八卦牌</string>
		<key>imgName</key>
		<string>xz</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>佣兵队八卦牌</string>
		<key>imgName</key>
		<string>ybd</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>御龙林英雄八卦牌</string>
		<key>imgName</key>
		<string>yllyx</string>
		<key>nameColor</key>
		<string>jingcui</string>
	</dict>
</array>
</plist>
