<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>大众传说</string>
		<key>imgName</key>
		<string>dazhong</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>极限传说</string>
		<key>imgName</key>
		<string>jixian</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>无形</string>
		<key>imgName</key>
		<string>wuxing</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>光明无常</string>
		<key>imgName</key>
		<string>wuchang</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>暗黑无常</string>
		<key>imgName</key>
		<string>wuchangx</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>生魂无极</string>
		<key>imgName</key>
		<string>shenghun</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>风魂无极</string>
		<key>imgName</key>
		<string>fenghun</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>炎魂无极</string>
		<key>imgName</key>
		<string>yanhun</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>劫难无极</string>
		<key>imgName</key>
		<string>jienan</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>尚方无极</string>
		<key>imgName</key>
		<string>shangfang</string>
		<key>nameColor</key>
		<string>chuanshuo</string>
	</dict>
</array>
</plist>
